<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.9.0.2586" targetFramework="net47" />
  <package id="ReactiveUI" version="9.12.1" targetFramework="net47" />
  <package id="ReactiveUI.WPF" version="9.12.1" targetFramework="net47" />
  <package id="Splat" version="7.0.8" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net47" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Compatibility" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Core" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Experimental" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Interfaces" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Linq" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.PlatformServices" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Providers" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Runtime.Remoting" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Windows.Forms" version="4.0.0" targetFramework="net47" />
  <package id="System.Reactive.Windows.Threading" version="4.0.0" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>